.cart-item{
  border-top: 2px solid #000000;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-start;
  position: relative;
}
.number-item{
  align-self: flex-start;
}
.img-item{
  width: 140px;
}
.name-item{
  margin-bottom: 5px;
}
.main-info-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.portion{
  text-transform: lowercase;
  padding: 5px 15px 5px 15px;
  font-family: Russo One;
  font-weight: 400;
  color: #ffffff;
  border-radius: 30px;
  border: solid 1px #FF5757;
  background-color: #FF5757;
}
.additional-info-item{
  display: flex;
}
.delete-item{
  color: #FF5757;
  position: absolute;
  top: -5px;
  right: 6px;
}
.item-total-price{
  position: absolute;
  bottom: 5px;
  right: 20px;
}
@media (max-width: 600px) {
  .cart-item{
    gap: 10px;
  }
  .main-info-item{
    margin-left: 0px;
  }
  .additional-info-item{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  .item-total-price{
    bottom: 0px;
  }
  
}
@media (max-width: 480px) {
  .cart-item{
    gap: 0px;
  }
  .portion{
    padding: 5px 10px 5px 10px;
    font-size: 12px;
  }
  .img-item{
    width: 120px;
  }
  .item-total-price{
    font-size: 20px;
    right: 10px;
  }
  .delete-item{
    right: 0px;
  }
  .price{
    font-size: 20px;
  }
}