.addres-item__icon{
  width: 35px;
}
.address-item{
  display: flex;
  height: 80px;
  background-color: #eff5f5;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}
.address-item:hover{
  background-color: #e0ebeb;
}
.addres-item__icons{
  display: flex;
  align-items: center;
  gap: 20px;
}
.address-item__btns{
  display: flex;
}
.address-item__default{
  display: block;
  background-color: #83afaf;
  padding: 3px 8px 3px 8px;
  border-radius: 10px;
  font-size: 15px;
  font-family:'font-serif';
  font-weight: bold;
}
.address-item__text-add{
  font-size: 15px; 
  font-family:'font-serif'
}
.address-item__text-main{
  font-size: 20px; 
  font-family:'font-serif';
  font-weight: bold;
}